<div class="grid">
  <div class="col s1"></div>
  <form class="col s10" cdkDropList (cdkDropListDropped)="this.drop($event)" #form="ngForm">
      <div class="row margin no-wrap">
        <div class="col">
          <div class="field">
            <input type="text" [(ngModel)]="formName" (change)="this.onTouch(name)" minlength="5" name="formName" required #name="ngModel">
            <small>Form name</small><br>
            <small *ngIf="name.hasError('minlength')" class="red-text">The form name must be at least 5 letters long<br></small>
            <small *ngIf="name.hasError('required')" class="red-text">Form name is required<br></small>
          </div> 
        </div>
        <div class="col right-align">
          <button class="button extra" (click)="this.submitForm()" [disabled]="this.questions.length < 1 || !form.valid">Save&nbsp;<i>save</i></button>
        </div>
      </div>


      <div cdkDrag *ngFor="let item of this.questions; let index = index" class="large-padding">

        <div class="grid">
          <article class="col s11 large-padding">

            <div class="padding margin row no-wrap">
                <h3 class="absolute circle">{{ index + 1 }}.</h3>
                <div class="max"></div>
                <div>
                  <button class="large red circle" (click)="this.deleteForm(index)"><i>delete</i></button>
                </div>
                
                <label class="switch">
                  Required&nbsp;
                  <input type="checkbox" [(ngModel)]="this.questions[index].required" name="required">
                  <span></span>
                </label>
            </div>

            <div class="grid">
              <div class="s12">
                <div class="field border background margin">
                  <input type="text" name="name" [(ngModel)]="this.questions[index].query" required #query="ngModel" minlength="5" />
                  <span>Question</span><br>
                  <small *ngIf="query.hasError('minlength')" class="red-text">The question must be at least 5 letters long<br></small>
                  <small *ngIf="query.hasError('required')" class="red-text">Question is required<br></small>
                </div>
              </div>
            </div>

            <div class="grid">
              <div class="s12 m6">
                <div class="field suffix border background margin">
                  <select [(ngModel)]="this.types[index]" name="type">
                    <option value="text">Text</option>
                    <option value="number">Number</option>
                    <option value="multiple">Multiple options</option>
                    <option value="date gray" disabled>Date (soon)</option>
                    <option value="file gray" disabled>File (soon)</option>
                  </select>
                  <i>arrow_drop_down</i>
                  <span>Answer type</span>
                </div>
              </div>
            </div>
            <br>
            <hr>
            <br>
            <div [ngSwitch]="this.types[index]">
              <creator-date *ngSwitchCase="'date'" (changed)="this.onQuestionChange($event, index)"></creator-date>
              <creator-multiple *ngSwitchCase="'multiple'"  (changed)="this.onQuestionChange($event, index)">
              </creator-multiple>
              <creator-number *ngSwitchCase="'number'" (changed)="this.onQuestionChange($event, index)">
              </creator-number>
              <creator-text *ngSwitchCase="'text'" (changed)="this.onQuestionChange($event, index)">
              </creator-text>
            </div>

          </article>
          <div class="col min" style="align-self: center;">
            <a cdkDragHandle class="square button" style="cursor: grab;">
              <i>drag_indicator</i>
            </a>
          </div>


        </div>
      </div>
      <a class="button center extended margin" (click)="this.addMore()">Add next question<i class="large">add</i></a>
  </form>
  <div class="col s1"></div>


</div>


