<div class="grid">
  <div class="col s1"></div>
  <form class="col s10" cdkDropList [cdkDropListLockAxis]="'y'" (cdkDropListDropped)="this.drop($event)" #form="ngForm" novalidate="false">
      <div class="row margin no-wrap">
        <div class="col">
          <div class="field">
            <input type="text" [(ngModel)]="formName" (change)="this.onTouch()" minlength="5" name="formName" required #name="ngModel">
            <small>Form name</small><br>
            <span *ngIf="name.hasError('minlength')" class="red-text">The form name must be at least 5 letters long<br></span>
            <span *ngIf="name.hasError('required')" class="red-text">Form name is required<br></span>
          </div> 
        </div>
        <div class="col right-align">
          <button class="button extra" (click)="this.submitForm()" [disabled]="this.questions.length < 1 || !form.valid">Save&nbsp;<i>save</i></button>
        </div>
      </div>


      <div cdkDrag *ngFor="let item of this.questions; let index = index" class="large-padding">

        <div class="grid">
          <article class="col s11 large-padding">
            <div class="padding margin row no-wrap">
              <div>
                <h3 class="absolute circle">{{ index + 1 }}.</h3>
              </div>
              <div class="max"></div>
              Require an answer&nbsp;
              <label class="switch">
                <input type="checkbox" [(ngModel)]="item.required" name="required{{index}}">
                <span></span>
              </label>
              <div>
                <button class="large red circle" (click)="this.deleteForm(index)"><i>delete</i></button>
              </div>
  
            </div>
            <div class="grid">
              <div class="s12">
                <div class="field border background margin">
                  <input type="text" name="query{{index}}" [(ngModel)]="questions[index].query" #query="ngModel" required minlength="5" />
                  <span>Question</span><br>
                  <span *ngIf="query.hasError('minlength')" class="red-text">The question must be at least 5 letters long<br></span>
                  <span *ngIf="query.hasError('required')" class="red-text">Question is required<br></span>
                </div>
              </div>
            </div>

            <div class="grid">
              <div class="s12 m6">
                <div class="field suffix border background margin">
                  <select (change)="this.changeType(index, $event.currentTarget['value'])" [ngModel]="item.type" name="type">
                    <option *ngFor="let type of this.questionTypes" [value]="type.value" [disabled]="!type.enabled">{{ type.name }}</option>
                  </select>
                  <i>arrow_drop_down</i>
                  <span>Answer type</span>
                </div>
              </div>
            </div>
            <br>
            <hr>
            <br>

            <div [ngSwitch]="item.type">
              <creator-date *ngSwitchCase="'date'" (changed)="this.onQuestionChange($event, index)"></creator-date>
              <creator-multiple *ngSwitchCase="'multiple'"  (changed)="this.onQuestionChange($event, index)" [form]="form">
              </creator-multiple>
              <creator-number *ngSwitchCase="'number'" (changed)="this.onQuestionChange($event, index)">
              </creator-number>
              <creator-text *ngSwitchCase="'text'" (changed)="this.onQuestionChange($event, index)">
              </creator-text>
            </div>

          </article>
          <div class="col min" style="align-self: center;">
            <a cdkDragHandle class="square button" style="cursor: grab;">
              <i>drag_indicator</i>
            </a>
          </div>


        </div>
      </div>
      <a class="button center extended margin" (click)="this.addMore()">Add next question<i class="large">add</i></a>
  </form>
  <div class="col s1"></div>


</div>
