<header class="padding primary">
  <div class="row no-wrap">
    <a class="circle" data-ui="#menu-left" *ngIf="!(this.isHome | async)">
      <i>menu</i>
      <div class="modal left" id="menu-left">
        <div class="pointer" [routerLink]="'/'">
          <h4 class="">PolyForms</h4>
          <p class="">Simple forms with simple URLs</p>
        </div>
        <div class="row">
          <i>home</i>
          <button class="responsive large tertiary max" tabindex="0" routerLink="/">
            <h6>Home</h6>
          </button>
        </div>
        <div class="row">
          <i>add</i>
          <button class="responsive large max" tabindex="1" routerLink="/f/new">
            <h6>Create</h6>
          </button>
        </div>
        <div class="row">
          <i>help</i>
          <button class="responsive large max" tabindex="3" routerLink="/about">
            <h6>About</h6>
          </button>
        </div>
      </div>
    </a>
    <div class="max"></div>
    <div class="pointer absolute center" [routerLink]="'/'">
      <h4 class="no-margin center-align">PolyForms</h4>
      <p class="no-margin center-align">Simple forms with simple URLs</p>
    </div>
    <a class="circle" (click)="this.switchTheme()" type="button">
      <i>dark_mode</i>
    </a>
  </div>
</header>
