<header class="padding primary">
  <div class="row no-wrap middle-align">
    <div class="col min">
      <a class="circle" data-ui="#menu-left">
        <i>menu</i>
      </a>
    </div>
    <div class="col pointer" [routerLink]="'/'">
      <h4 class="no-margin center-align">PolyForms</h4>
      <p class="no-margin center-align">Simple forms with simple URLs</p>
    </div>
    <div class="col min">
      <a class="circle" (click)="this.switchTheme()" type="button">
        <i>dark_mode</i>
      </a>
      <div class="row"></div>
    </div>
  </div>
</header>
<div class="modal left" id="menu-left">
  <nav class="wrap margin">
    <div class="col pointer margin" [routerLink]="'/'">
      <h4 class="no-margin center-align">PolyForms</h4>
      <p class="no-margin center-align">Simple forms with simple URLs</p>
    </div>
    <div class="col">
      <button class="responsive large tertiary" tabindex="0" routerLink="/">
        <h6>Home</h6>
      </button>
    </div>
    <div class="col">
      <button class="responsive large" tabindex="1" routerLink="/f/new">
        <h6>Create</h6>
      </button>
    </div>
    <div class="col">
      <button class="responsive large" tabindex="2"><h6>Fill</h6></button>
    </div>
    <div class="col">
      <button class="responsive large" tabindex="3"><h6>About</h6></button>
    </div>
  </nav>
</div>