.light {
  --primary: #006e17;
  --on-primary: #ffffff;
  --primary-container: #93f990;
  --on-primary-container: #002203;
  --secondary: #52634f;
  --on-secondary: #ffffff;
  --secondary-container: #d5e8ce;
  --on-secondary-container: #101f0f;
  --tertiary: #38656a;
  --on-tertiary: #ffffff;
  --tertiary-container: #bcebf0;
  --on-tertiary-container: #001f23;
  --error: #ba1b1b;
  --error-container: #ffdad4;
  --on-error: #ffffff;
  --on-error-container: #410001;
  --background: #fcfdf6;
  --on-background: #1a1c19;
  --surface: #fcfdf6;
  --on-surface: #1a1c19;
  --surface-variant: #dee5d8;
  --on-surface-variant: #424840;
  --outline: #73796f;
  --inverse-on-surface: #f0f1eb;
  --inverse-surface: #2f312d;
  --inverse-primary: #78dc77;
  --shadow: #000000;
}
.dark {
  --primary: #78dc77;
  --on-primary: #003907;
  --primary-container: #00530f;
  --on-primary-container: #93f990;
  --secondary: #b9ccb3;
  --on-secondary: #253423;
  --secondary-container: #3b4b38;
  --on-secondary-container: #d5e8ce;
  --tertiary: #a1cfd5;
  --on-tertiary: #00363b;
  --tertiary-container: #1e4d52;
  --on-tertiary-container: #bcebf0;
  --error: #ffb4a9;
  --error-container: #930006;
  --on-error: #680003;
  --on-error-container: #ffdad4;
  --background: #1a1c19;
  --on-background: #e2e3dd;
  --surface: #1a1c19;
  --on-surface: #e2e3dd;
  --surface-variant: #424840;
  --on-surface-variant: #c2c8bd;
  --outline: #8c9288;
  --inverse-on-surface: #1a1c19;
  --inverse-surface: #e2e3dd;
  --inverse-primary: #006e17;
  --shadow: #000000;
}
