<div class="grid middle-align row">
  <div class="max"></div>
  <article class="padding">
    <div class="margin">
      <h5>PolyForms</h5>
      <br>
      Created by:
        <h6>Wojciech Duda</h6>
      <nav>
        <button class="round fill">
          <img src="https://www.svgrepo.com/show/341847/github.svg" alt="github logo">
        </button>
        <button class="round fill">
          <i>public</i>
        </button>
        <button class="round fill">
          <a href="mailto:wojciechduda03@gmail.com?subject=PolyForms enquiry"><i>mail</i></a>
        </button>
      </nav>
    </div>
    <hr>
    <div class="margin">
      <p>Powered by:
        <nav>
          <button class="tertiary round"><i>sports_bar</i></button>
          <button class="tertiary round"></button>
          <button class="tertiary round"></button>
        </nav>
    </div>




  </article>
  <div class="max"></div>
</div>