<form class="grid" #form="ngForm">
  <div class="grid s12">
    <div class="field s12 m6 background suffix margin">
      <input appMakeInt type="number" name="min" [appForceMinMax]="{max: this.max}" [(ngModel)]="this.min">
      <span>Minimum value</span>
    </div>
    <div class="field s12 m6 background suffix margin">
      <input appMakeInt type="number" name="max" [appForceMinMax]="{min: this.min}" [(ngModel)]="this.max">
      <span>Maximum value</span>
    </div>
  </div>
  <div class="grid s12">
    <div class="field s12 m6 background suffix margin">
      <input appMakeInt type="text" name="prefix" [(ngModel)]="this.prefix">
      <span>Prefix</span>
    </div>
    <div class="field s12 m6 background suffix margin">
      <input type="text" appMakeInt name="suffix" [(ngModel)]="this.suffix">
      <span>Suffix</span>
    </div>
  </div>
</form>
