<form class="grid" #form="ngForm">
  <div class="grid s12">
    <div class="field s12 m6 background suffix margin">
      <input appMakeInt type="number" name="min" [appForceMinMax]="{max: this.max}" [(ngModel)]="this.min">
      <label for="min">Minimum value</label>
    </div>
    <div class="field s12 m6 background suffix margin">
      <input appMakeInt type="number" name="max" [appForceMinMax]="{min: this.min}" [(ngModel)]="this.max">
      <label for="max">Maximum value</label>
    </div>
  </div>
  <div class="grid s12">
    <div class="field s12 m6 background suffix margin">
      <input appMakeInt type="text" name="prefix" [(ngModel)]="this.prefix">
      <label for="prefix">Prefix</label>
    </div>
    <div class="field s12 m6 background suffix margin">
      <input type="text" appMakeInt name="suffix" [(ngModel)]="this.suffix">
      <label for="suffix">Suffix</label>
    </div>
  </div>
</form>
