<form class="grid margin" (ngSubmit)="this.add()" novalidate="false">
  <div class="s12 m6">

    <div class="row max middle-align s12">
      <div class="max field background suffix">



        <input type="text" name="newAnswer" [(ngModel)]="this.newQuestion" #newAnswer="ngModel"
          required [minlength]="this.limits.minlength" [maxlength]="this.limits.maxlength">
          <label for="newAnswer">New question</label>
        <span class="error" *ngIf="newAnswer.hasError('listsmall')">At least 2 answers are required</span>
        <span class="error" *ngIf="newAnswer.hasError('listsmall')">Maximum of </span>
      </div>
      <button class="circle green button" type="submit"
        [disabled]="newAnswer.hasError('minlength') || newAnswer.hasError('required')"><i>add</i></button>
    </div>


    <ul>
      <li class="row max middle-align divider background" *ngFor="let option of this.answers; let i = index; trackBy: this.trackByIdentity">
        <!-- I HAVE NO IDEA WHY I HAVE TO CHECK THIS, GOD FORBID ME -->
          <div class="max padding">
            {{ this.answers[i] }}
          </div>
          <button class="red flat circle margin" style="margin-right: 16rem;"
            (click)="this.remove(i)"><i>delete</i></button>
      </li>
    </ul>


  </div>
  <div class="s12 m6 field border suffix">
    <select name="limit" [(ngModel)]="this.max">
      <option value="0">Multiple selection</option>
      <option value="1">Single selection</option>
    </select>
    <i>arrow_drop_down</i>
    <label for="limit">Selection type</label>
    <input type="text" hidden ngModel #dummy="ngModel" [ngModelOptions]="{standalone: true}" name="type"
    [appListSizeValidator]="{list: this.answers, minSize: this.limits.minanswers, maxSize: this.limits.maxanswers}">
    <p>
      <span class="red-text bold" *ngIf="dummy.hasError('listsmall')">At least {{ this.limits.minanswers }} answers are required</span>
    </p>
    <p>
      <span class="red-text bold" *ngIf="dummy.hasError('listbig')">You can ask a maximum for {{ this.limits.maxanswers }} answers</span>
    </p>
    
  </div>
</form>