<form class="grid margin" (ngSubmit)="this.add()" #form="ngForm">
  <div class="s12 m6">
    <div class="row max middle-align s12">
      <div class="max field background suffix">
        <input type="text" name="newQuestion" [(ngModel)]="this.newQuestion" #newQuestionInput="ngModel" required placeholder="New question">
      </div>
      <button class="circle green button" type="submit" [disabled]="!newQuestionInput.valid"><i>add</i></button>
    </div>


    <ul>
      <li class="row max middle-align divider background" *ngFor="let option of this.answers; let i = index">
        <div class="max padding">
          {{ option }}
        </div>
        <button class="red flat circle margin" style="margin-right: 16rem;"
          (click)="this.remove(i)"><i>delete</i></button>
      </li>
    </ul>

  </div>
  <div class="s12 m6 field background suffix">
    <input type="number" [appForceMinMax]="{min: 1}" name="limit" min="0" [(ngModel)]="this.max">
    <span>Maximum selected answers</span>
  </div>
</form>