<form class="grid" #form="ngForm">
  <div class="s12 m6">
    <div class="field background suffix margin">
      <input type="number" appMakeInt [appForceMinMax]="{max: this.maxWords}"  name="minWords"  min="0" [(ngModel)]="this.minWords" >
      <label for="minWords">Minimum words</label>
    </div>
  </div>
  <div class="s12 m6">
    <div class="field background suffix margin">
      <input type="number" appMakeInt [appForceMinMax]="{min: this.minWords}"  name="maxWords" min="0" [(ngModel)]="this.maxWords" >
      <label for="maxWords">Maximum words</label>
    </div>
  </div>
</form>
  