<div class="grid">
  <div class="field s6 background suffix margin">
    <select>
      <option value="short">Short</option>
      <option value="long">Long</option>
      <option value="locale">Locale</option>
    </select>
    <i>arrow_drop_down</i>
    <span class="helper">Date format when answered</span>
  </div>
  <div class="s12 grid">
    <h6 class="s12 center-align">
        Time range
    </h6>
    <div class="field background suffix margin s6">
      <input type="text" name="min" id="" />
      <label for="min">From</label>
    </div>
    <div class="field background suffix margin s6">
      <input type="text" name="max" id="" />
      <label for="max">To</label>
    </div>
  </div>
</div>
