<div class="grid middle-align large-height">
  <div class="col s0 l2"></div>
  <div class="col s12 l8">
    <div class="grid">

      <div class="s s1"></div>
      <div class="m6 s10">
        <article class="border round small middle-align">
          <div class="full">
            <div class="row">
              <div class="fill round">
                <i class="extra padding">library_add</i>
              </div>
              <div class="max right-align">
                <h5 class="right-align">Create</h5>
                Create a new form
              </div>
              {{ this.hello }}
            </div>
            <div class="row right-align" *ngIf="this.showFillBox">
              <button class="green large" routerLink="/f/new">Go to the form creator</button>
            </div>
          </div>
        </article>
      </div>
      <div class="s s1"></div>

      <div class="s s1"></div>
      <div class="m6 s10">
        <article class="border round small middle-align">
          <div class="full">
            <div class="row">
              <div class="fill round">
                <i class="extra padding">checklist</i>
              </div>
              <div class="right-align max">
                <h5 class="right-align">Fill</h5>
                Fill a form with provided link
              </div>
            </div>

            <div class="row right-align" *ngIf="this.showFillBox">
              <div class="field border">
                <input type="text" name="url" placeholder="Form code" [(ngModel)]="this.formId" />
                <i class="front" (click)="goToForm()">done</i>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="s s1"></div>

      <div class="s1 m3"></div>
      <div class="m6 s10">
        <article class="border round small middle-align">
          <div class="full">
            <div class="row">
              <div class="fill round">
                <i class="extra padding">leaderboard</i>
              </div>
              <div class="max right-align">
                <h5 class="right-align">Results</h5>
                Access your form's results using a code provided at it's creation
              </div>
            </div>

            <div class="row right-align" *ngIf="this.showFillBox">
              <div class="field border">
                <input type="text" name="url" placeholder="Form code" [(ngModel)]="this.formId" />
                <i class="front" (click)="goToForm()">done</i>
              </div>
            </div>
          </div>
        </article>
      </div>
      <div class="s1 m3"></div>

    </div>
  </div>
  <div class="col s0 l2"></div>
</div>

<div class="modal top" id="navError">
  <h5 class="row">{{ this.error }}</h5>
  <div class="row">Wrong ID: {{ this.errorId }}</div>
  <nav class="left-align">
    <button (click)="this.onAccknowledge()">Return to main page</button>
  </nav>
</div>