.enterLink{
  animation: append-animate .3s ease;
}
@keyframes append-animate {
	from {
		transform: translateY(-100%);
    opacity: 0;
	}
	to {
		transform: translateY(0%);
    opacity: 1;
	}
}
.input-align{
	position: absolute;
	top: 35%;
}

footer{
	position: fixed;
	bottom: 0;
}