.modal{
    width: 60vw;
    height: 60vh;
    overflow: hidden;
    .chart {
        width: 70%;
        height: 100%;
    }
    .legend {
        width: 30%;
        height: 100%;
    }
    .chart, .legend{
        display: inline-block;
    }
}
::ng-deep .advanced-pie-legend{
    color: black;
}
article{
    height: 50vh;
}
.ngx-charts-outer {
    -webkit-animation: chartFadeIn linear .6s;
    animation: chartFadeIn linear .6s;
}